.footer {
    width: 100%;
    background-color: $lightblue;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 176px;
    &__heading {
        margin-top: 80px;
        font-size: $header100;
        color: $textdark;
    }
    &__text {
        font-size: $textsize;
        color: $text;
    }
    &__social-media {
        margin-top: 128px;
        width: 580px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}
.social-media {
    background-color: $white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 2px $grey5;
    &__github {
        width: 24px;
        height: 24px;
    }
    &__github:hover {
        width: 36px;
        height: 36px;
    }
    &__gh-img:hover {
        width: 36px;
        height: 36px;
    }
    &__instagram {
        width: 24px;
        height: 24px;
    }
    &__instagram:hover {
        width: 36px;
        height: 36px;
    }
    &__ig-img:hover {
        width: 36px;
        height: 36px;
    }
    &__facebook {
        width: 24px;
        height: 24px;
    }
    &__facebook:hover {
        width: 32px;
        height: 32px;
    }
    &__fb-img:hover {
        width: 32px;
        height: 32px;
    }
}
.mailme {
    margin-left: 50px;
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
    background-color: $link;
    color: $white;
    width: 278px;
    height: 48px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 2px $grey5;
    cursor: pointer;
    z-index: 5;
}
.animated-mail {
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: -10px;
    margin-left: 420px;
    content: '';
    background-image: url(../assets/img/letter.gif);
    background-size: 100%;
    z-index: 2;
    animation-name: slideUp;
    animation-duration: .8s;
    animation-timing-function: ease-in;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.253);
}