.hand__animated {
  display: inline-block;
  animation-name: rotate;
  animation-duration: 0.8s;
  animation-iteration-count: 10;
  animation-direction: alternate;
}
.header {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  &__greeting {
    width: 230px;
    height: 72px;
    border-radius: 16px;
    margin-top: 40px;
    margin-left: 348px;
    align-self: center;
    background-color: $blue;
    font-size: $header200;
    font-weight: bold;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__greeting::before {
    content: url(../assets/img/speech_cloud.svg);
    position: absolute;
    margin-top: 90px;
    margin-left: -130px;
  }
  &__mypicture {
    width: 178px;
    height: 178px;
    border-radius: 50%;
    border: 24px solid $lightestblue; 
    margin-top: -16px;
  }
  &__aboutme {
    width: 60%;
    font-size: $header200;
    font-weight: 700;
    color: $textdark; 
    text-align: center;
    margin-top: 78px;
    line-height: 40px;
    margin-bottom: 24px;
  }
  &__aboutme--special {
    color: $blue;
  }
  &__aboutme--special::before {
    content: "\00000a ";
    white-space: pre;
}
  &__links {
    width: 60%;
    color: $text;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 40px;
  }
  &__links::before {
    content: url(../assets/img/left_bracket.svg);
    position: absolute;
    left: 14%;
    top: 400px;

  }
  &__links::after {
    content: url(../assets/img/right_bracket.svg);
    position: absolute;
    right: 14%;
    top: 400px;
  }
  &__links--special {
    color: $link;
    font-size: 20px;
    font-weight: bold;
  }

  &__mailme {
    border: none;
    outline: none;
    background: none;
    margin-top: 24px;
  }
}
.link {
  color: $white;
  text-decoration: none;
  width: 278px;
  height: 48px;
  font-weight: bold;
  font-size: 20px;
  background-color: $link;
  border-radius: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 2px $grey5;
}