//Tablets 
@media screen and (min-width: 768px) and (max-width: 1024px) {
.main {
    margin-top: 96px;
}
.header {
    padding: 0px 12px;
    width: calc(100% - 24px);
    &__aboutme {
        width: 100%;
    }
    &__gretting {
        display: none;
    }
    &__links {
        width: 90%;
        line-height: 32px;
        margin-top: 0px;
    }
    &__links--special {
        text-decoration: none;
    }

    &__links::before {
        display: none;
    }

    &__links::after {
        display: none;
    }
}
.knowledge {
    width: calc(100% - 24px);
    padding: 88px 12px;

    &__articles {
        display: block;
        margin: 0 auto;
    }

    &__heading {
        font-size: $mheader100;
        margin-bottom: 64px;
    }
}
.skills {
    margin: 0px auto;
    margin-bottom: 92px;
    line-height: 24px;
    background-color: $blue;
    border-radius: 12px;
    width: 45%;
    height: 460px;
    background-color: rgba(246, 249, 253, .05);
    &__heading {
        margin-bottom: 24px;
    }

    &__list {
        width: 100%;
        margin-left: 32px;
    }
}
.footer {
    width: calc(100% - 24px);
    padding: 88px 12px;
    text-align: center;
}

}
// Low resolution tablets
@media screen and (max-width: 767px) {
    .main {
        margin-top: 96px;
    }

    .header {
        padding: 0px 12px;
        width: calc(100% - 24px);

        &__greeting {
            display: none;
        }

        &__mypicture {
            width: 128px;
            height: 128px;
            margin-top: 88px;
            margin-bottom: -40px;
        }

        &__aboutme {
            font-size: $mheader200;
            line-height: 32px;
            width: 100%;
        }

        &__aboutme--special {
            line-height: 32px;
        }

        &__links {
            width: 90%;
            line-height: 32px;
            margin-top: 0px;
        }

        &__links--special {
            text-decoration: none;
        }

        &__links::before {
            display: none;
        }

        &__links::after {
            display: none;
        }
    }

    .knowledge {
        width: calc(100% - 24px);
        padding: 88px 12px;

        &__articles {
            display: block;
            margin: 0;
        }

        &__heading {
            font-size: $mheader100;
            margin-bottom: 64px;
        }
    }

    .skills {
        margin: 0px auto;
        margin-bottom: 64px;
        line-height: 24px;
        background-color: $blue;
        border-radius: 12px;
        width: 60%;
        height: 460px;
        background-color: rgba(246, 249, 253, .05);
        &__heading {
            margin-bottom: 24px;
        }

        &__list {
            width: 100%;
            margin-left: 32px;
        }
    }

    .projects {
        padding: 0px 12px;
        margin-top: 64px;
        margin-bottom: 88px;
        width: calc(100% - 24px);

        &__heading {
            font-size: $mheader100;
        }

        &__text {
            font-size: $mtextsize;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 46px;
            line-height: 32px;
        }

        &__list {
            margin: 0px;
        }
    }

    .project {
        width: 287px;
        height: 400px;
        margin-bottom: 24px;
        background-image: url("../assets/img/m_console.svg");
        font-size: $mconsole;

        &::before {
            margin-top: -110px;
            margin-left: -20px;
        }

        &--left {
            width: 100px;
        }

        &--right {
            width: 160px;
        }
    }

    .name {
        margin-top: 30px;
        margin-left: -30px;
        line-height: 24px;
        font-size: $mconsole;
    }

    .description {
        margin-bottom: 24px;
        margin-left: -30px;
        font-size: $mconsole;
    }

    .demo {
        margin-left: -30px;
        font-size: $mconsole;
    }

    .source {
        margin-left: -30px;
        font-size: $mconsole;
    }
    .footer {
        width: calc(100% - 24px);
        padding: 88px 12px;
        text-align: center;

        &__heading {
            margin-top: 80px;
            font-size: $mheader100;
        }

        &__text {
            font-size: $mtextsize;
            line-height: 32px;
        }

        &__social-media {
            margin: 0 21px;
            width: 65%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }
    }

    .social-media {
        margin: 64px 20px;
    }

    .mailme {
        margin-left: 0px;
    }
}


// Mobiles
@media screen and (max-width: 480px) {
    .header {

        &__aboutme {
            text-align: center;
        }

        &__aboutme--special::after {
            content: "\00000a ";
            white-space: pre;
        }

        &__aboutme--special::before {
            content: none;
            white-space: nowrap;
        }

        &__links {
            width: 100%;
            line-height: 32px;
            margin-top: 0px;
        }
    }

    .project {
        height: 380px;
        &::before {
            margin-top: -90px;
            margin-left: -20px;
        }
    }
    .skills {
        width: 70%;
        &__list {
            margin-left: 12px;
        }
    }
    .footer {

        &__social-media {
            margin: 0 21px;
            width: 65%;
        }
    }
    .social-media {
        margin: 64px 8px;
    }
}

@media screen and (max-width: 370px) {
    .header {

        &__aboutme {
            text-align: center;
        }
        &__aboutme--break::after {
            content: "\00000a ";
            white-space: pre;
        }

        &__aboutme--special::after {
            content: none;
            white-space: nowrap;
        }

        &__aboutme--special::before {
            content: "\00000a ";
            white-space: pre;
        }
    }
    .project {
        width: 288px;
        height: 360px;
        &::before {
            margin-top: -80px;
            margin-left: -16px;
        }

        &--left {
            width: 82px;
            margin-left: 10px;
        }

        &--right {
            width: 170px;
        }
    }
    .name {
        margin-top: 20px;
        margin-left: -46px;
    }

    .description {
        margin-bottom: 24px;
        margin-left: -46px;
    }

    .demo {
        margin-left: -46px;
    }

    .source {
        margin-left: -46px;
    }
    }