.projects {
    margin-top: 80px;
    &__heading {
        font-size: $header100;
        color: $textdark;
    }
    &__text {
        font-size: $text-size;
        width: 772px;
        margin: 0 auto;
        margin-bottom: 128px;
    }
    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0 110px;

    }
}
.project {
    width: 548px;
    height: 360px;
    margin: 0px 12px;
    list-style-type: none;
    background-image: url("../assets/img/console.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Roboto Mono';
    font-size: $console;
    &::before {
        content: url("../assets/img/gh.svg");
        margin-top: -80px;

    }
    &--left {
        display: inline-block;
        text-align: right;
        width: 120px;

    }
    &--right {
        display: inline-block;
        text-align: left;
        min-width: 60px;
    }
    &--link {
        color: $textlink;
    }
}
.name {
    margin-top: 30px;
    margin-left: -14px;
    line-height: 24px;
    color: $grey4;
    &__left {
        color: $grey4;
        padding: 2px;
    }
    &__content {
        font-weight: bold;
        color: $white;
        padding: 2px;
    }
}
.description {
    margin-bottom: 24px;
    margin-left: -14px;
    &__left {
        color: $grey4;
        padding: 2px;
    }
    &__content {
        color: $grey5;
        padding: 2px;
    }
}
.demo {
    margin-left: -14px;
    &__left {
        color: $grey4;
        padding: 2px;
    }
    &__content {
        padding: 2px;
    }
}
.source {
    margin-left: -14px;
    &__left {
        color: $grey4;
        padding: 2px;
    }
    &__content {
        padding: 2px;
    }
}