.projects {
    margin-top: 80px;
    &__heading {
        font-size: $header100;
        color: $textdark;
    }
    &__text {
        font-size: $text-size;
        width: 772px;
        margin: 0 auto;
    }
    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        
        margin: 0 128px;

    }
}
.project {
    list-style-type: none;
    width: 30%;
}