$wtf: #2D2241;
$black: #000000;
$white: #FFFFFF;
$blue: #1070CA;
$lightblue: #DBEAF7;
$lightestblue: #F6F9FD;
$green: #06C847;
$grey1: #1E1E1E;
$grey2: #212528;
$grey3: #464A4D;
$grey4: #808082;
$textlink: #14B5D0;
$link: #4DA8FF;
$textdark: #234361;
$text: #425A70;
$textmuted: #66788A;