@import "~normalize.css";
@import "_variables";
@import "modules/header.scss";
@import "modules/knowledge.scss";
@import "modules/projects.scss";
@import "modules/footer.scss";
@import "modules/animations.scss";
html {
  scroll-behavior: smooth;
}

body {
  background: $white;
  color: $text;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Nunito', 'sans-serif';
  font-size: $textsize;
  color: $text;
}
.main {
  width: 100%;
  text-align: center;
}
.loader {
  display: flex;
  width: 0;
  height: 0;
  opacity: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  background-color: $blue;
  animation: loader 4s linear;
  &__mypicture {
    width: 178px;
    height: 178px;
    border-radius: 50%;
    border: 24px solid $lightblue;
    margin: 12px;
    margin-top: -280px;
    animation: shine-and-hide 4s linear;
  }
  &__header {
    color: white;
    font-size: 32px;
    font-weight: 800;
    animation: shine-and-hide 4s linear;
  }
  &__text {
    color: white;
    font-size: 16px;
    margin-top: 12px;
    font-weight: 300;
    animation: shine-and-hide 4s linear;
  }
}
@import "modules/media.scss";