@import "~normalize.css";
@import "_variables";
@import "modules/header.scss";
@import "modules/knowledge.scss";
@import "modules/projects.scss";
@import "modules/footer.scss";
@import "modules/animations.scss";
html {
  scroll-behavior: smooth;
}

body {
  background: $white;
  color: $text;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Nunito', 'sans-serif';
  font-size: $textsize;
  color: $text;
}
.main {
  width: 100%;
  text-align: center;
}

@import "modules/media.scss";